$primary: #3786be;
$warning: #eecc0a;
$success: #03d437;
$success-dark: #04aa6d;
$danger: #f44336;

$body-background: rgb(172, 255, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$text-secondary: #464646;
$text-secondary-light: #d6d6d6;

$border-radius: 6px;
