@import '../styles/header';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $body-background;
  letter-spacing: 0.5px;
}

button {
  padding: 0.9em 1.7em;
  font-size: 12px;
  font-weight: 700;
  border-radius: 0.5em 0 0.5em 0;
  border: 1px solid $text-secondary-light;
  transition: all 0.3s;
  cursor: pointer;
  height: 42px;
  width: 150px;
}

button:hover {
  border: 1px solid $white;
}

button:active {
  box-shadow: 4px 4px 12px $text-secondary-light, -4px -4px 12px $white;
}

button:disabled,
button[disabled] {
  border: 1px solid $white;
  background-color: $text-secondary-light;
  color: $text-secondary;
  cursor: not-allowed;
}

label {
  color: $text-secondary;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 6px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  font-size: 18px;
  padding: 0.5rem 1rem;
  color: $text-secondary;
  border: 1px solid $text-secondary-light;
  border-radius: 0.5em 0 0.5em 0;
  outline: none;
}

// .checkbox-group {
//   display: block;
//   margin-bottom: 15px;
//   margin: 10px 5px;
// }

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
  }

  // Box hover
  &:hover + label:before {
    background: #f35429;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #f35429;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }
}

a {
  color: $primary;
}

.main {
  padding: 20px 40px;
}

.card {
  background-color: $white;
  margin-top: 10px;
  border-radius: $border-radius;
  width: 50%;
  margin: auto;
  margin-bottom: auto;
}

.col {
  padding: 1em;
  height: auto;
}

.col-main {
  flex: 1;
}

.border-left {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.primary {
  background: $primary;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary;
}

.information-pane h3 {
  @include pane;
}

.information-pane .text-white {
  @include pane;
}

.text-small {
  font-size: 0.8rem;
  line-height: 1.8em;
}

.info-pane-button {
  padding: 15px;
}

.form-pane h3 {
  @include pane;
}

.form-pane .text-white {
  @include pane;
  width: 120px;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-body {
  background: $white;
  padding: 5px 10px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

.checkbox-group {
  display: flex;
  padding-top: 10px;
}

.form-pane .button {
  padding-top: 10px;
}

.add-border-success {
  @include border(
    'https://cdn-icons-png.flaticon.com/512/463/463574.png',
    $success-dark
  );
}

.add-border-danger {
  @include border('https://imgur.com/HVedraM.png', $danger);
}

.add-border-warning {
  @include border('https://i.imgur.com/UWevNE5.png', $warning);
}

.invalid-feedback-danger {
  @include feedback;
  color: $danger;
}

.invalid-feedback-warning {
  @include feedback;
  color: $warning;
}

.valid-feedback {
  @include feedback;
  color: $success;
}

.notes {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.danger {
  background-color: $white;
  border-left: 6px solid $danger;
}

.success {
  @include background-color-white;
  border-left: 6px solid $success-dark;
}

.info {
  @include background-color-white;
  border-left: 6px solid $primary;
}

.warning {
  @include background-color-white;
  border-left: 6px solid $warning;
}

@media only screen and (min-width: 1120px) {
  .layout {
    display: flex;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 1600px) {
  .row {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
