@import '../styles/header';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $body-background;
  letter-spacing: 0.5px;
  font-size: 16px;
}

button {
  padding: 0.9em 1.7em;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px 0 5px 0;
  border: 1px solid $text-secondary-light;
  transition: all 0.3s;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
}

button:hover {
  border: 1px solid $white;
}

button:active {
  box-shadow: 4px 4px 12px $text-secondary-light, -4px -4px 12px $white;
}

button:disabled,
button[disabled] {
  border: 1px solid $white;
  background-color: $text-secondary-light;
  color: $text-secondary;
  cursor: not-allowed;
}
.link {
  font-weight: 700;
}

label {
  color: $text-secondary;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 6px;
}
.c_label {
  color: $text-secondary;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 6px;
  margin-left: 10px;
  line-height: 26px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  font-size: 16px;
  padding: 0.5rem 1rem;
  color: $text-secondary;
  border: 1px solid $text-secondary-light;
  border-radius: 5px 0 5px 0;
  outline: none;
}

a {
  color: $primary;
}

.card {
  background-color: $white;
  margin-top: 10px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: auto;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.col {
  padding: 2em;
  height: auto;
}

.col-main {
  flex: 1;
}

.primary {
  background: $primary;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary;
}

.information-pane h3 {
  font-size: 26px;
}

.text-small {
  font-size: 16px;
  line-height: 1.8em;
}

.info-pane-button {
  padding: 15px 0;
}

.form-pane h3 {
  font-size: 26px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.form-body {
  background: $white;
  padding: 5px 10px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.checkbox-group {
  display: flex;
  padding-top: 10px;
}

.form-pane .button {
  padding-top: 10px;
}

.add-border-success {
  @include border(
    'https://cdn-icons-png.flaticon.com/512/463/463574.png',
    $success-dark
  );
}

.add-border-danger {
  @include border('https://imgur.com/HVedraM.png', $danger);
}

.add-border-warning {
  @include border('https://i.imgur.com/UWevNE5.png', $warning);
}

.invalid-feedback-danger {
  @include feedback;
  color: $danger;
}

.invalid-feedback-warning {
  @include feedback;
  color: $warning;
}

.valid-feedback {
  @include feedback;
  color: $success;
}

.notes {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.danger {
  background-color: $white;
  border-left: 6px solid $danger;
}

.success {
  @include background-color-white;
  border-left: 6px solid $success-dark;
}

.info {
  @include background-color-white;
  border-left: 6px solid $primary;
}

.warning {
  @include background-color-white;
  border-left: 6px solid $warning;
}
.main {
  padding: 20px 30px;
  margin: 0 auto;
  max-width: 1050px;
}
.left {
  border-radius: 10px 10px 0 0;
  width: 100%;
  flex: 0 0 auto;
}
.right {
  width: 100%;
  flex: 0 0 auto;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
@media only screen and (min-width: 640px) {
  .half_inp {
    width: 100%;
  }
}
@media only screen and (min-width: 980px) {
  .main {
    padding: 20px 40px;
  }
}
@media only screen and (min-width: 1120px) {
  .layout {
    display: flex;
    flex-wrap: wrap;
  }
  .left {
    border-radius: 10px 0 0 10px;
    width: 50%;
    flex: 0 0 auto;
  }
  .right {
    width: 50%;
    flex: 0 0 auto;
    border-radius: 0 10px 10px 0;
  }
  .half_inp {
    width: 50%;
    flex: 0 0 auto;
  }
  .col {
    padding: 2.5em;
    height: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .half_inp {
    width: 50%;
  }
}
