<div class="card center">
  <div class="row">
    <div class="layout">
      <div class="col col-main primary border-left information-pane">
        <h2 class="text-white">INFORMATION</h2>
        <p class="text-white text-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has
          been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release </p>

        <p class="text-white text-small"><strong>Lorem Ipsum:</strong>
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
        <div class="button-padding">
          <button type="button">Have An Account</button>
        </div>
      </div>

      <div class="col col-main form-pane">
        <h2 class="text-primary">REGISTER FORM</h2>
        <div class="form-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="input-group">
                <label>First name </label>
                <input type="text" formControlName="firstName">
              </div>
              <div class="input-group">
                <label>Last name</label>
                <input type="text" formControlName="lastName">
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <label>Your Email </label>
                <input type="email" formControlName="email">
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <label>Password </label>
                <input type="password" formControlName="password">
              </div>
              <div class="input-group">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="add-border-warning">
                <div class="invalid-feedback-warning">
                  Wrong Password!
                </div>
              </div>
            </div>
            <div class="checkbox-group">
              <div>
                <label for="music">
                  <input type="checkbox" formControlName="acceptTerms">
                  I agree to the <a href=""> <span>Terms and Conditions</span></a>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <div class="button ">
                  <button [disabled]="!form.valid" type="submit" class="primary text-white" type="button">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
