$leftRadius: 10px;
$primary: #3786be;
$white: white;
$warning: #ffd900;
$success: #03d437;
$danger: #f44336;

.card {
  background-color: $white;
  margin-top: 10px;
  border-radius: $leftRadius;
  width: 50%;
  margin: auto;
  margin-bottom: auto;
}

.col {
  padding: 1em;
  height: auto;
}

.col-main {
  flex: 1;
}

@media only screen and (min-width: 736px) {
  .layout {
    display: flex;
  }
}

.primary {
  background: $primary;
}

.border-left {
  border-top-left-radius: $leftRadius;
  border-bottom-left-radius: $leftRadius;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary;
}

.information-pane h2 {
  padding-top: 10px;
  padding-left: 15px;
}

.information-pane .text-white {
  padding-top: 10px;
  padding-left: 15px;
}

.text-small {
  font-size: 0.8rem;
}

.button-padding {
  padding: 15px;
}

.form-pane h2 {
  padding-top: 10px;
  padding-left: 15px;
}

.form-pane .text-white {
  padding-top: 10px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-body {
  background: $white;
  padding: 5px 10px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

label {
  color: #464646;
  font-size: 17px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  outline: none;
}

@media only screen and (max-width: 736px) {
  .row {
    flex-direction: column;
  }
}

.checkbox-group {
  display: flex;
  padding-top: 10px;
}

a {
  color: $primary;
}

.form-pane .button {
  padding-top: 10px;
}

.add-border-success {
  border: 2px solid $success !important;
  background: url(https://cdn-icons-png.flaticon.com/512/463/463574.png) no-repeat 95%;
  background-size: 19px;
}

.add-border-danger {
  border: 2px solid $danger !important;
  background: url(https://cdn-icons.flaticon.com/png/512/4201/premium/4201973.png?token=exp=1653562750~hmac=e492573f33e97cebbb49f685662555da)
    no-repeat 95%;
  background-size: 19px;
}

.add-border-warning {
  border: 2px solid $warning !important;
  background: url(https://cdn-icons.flaticon.com/png/512/3020/premium/3020000.png?token=exp=1653562490~hmac=27a3284a9df3f6d66d2391ed44756b4d)
    no-repeat 95%;
  background-size: 19px;
}

.invalid-feedback-danger {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $danger;
}

.invalid-feedback-warning {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $warning;
}

.valid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: $success;
}

button:disabled,
button[disabled] {
  border: 1px solid #eeeded;
  background-color: #d3cccc;
  color: #7a7a7a;
  cursor: not-allowed;
}
